@model IEnumerable<E_Reviu_LKBUN.Models.Unit>


@foreach (var item in Model) {
    <li>
        <a href="@Url.Action("Index", "Universes", new { id=0,unit = item.ID })">
            @Html.DisplayFor(modelItem => item.Name)
        </a>
    </li>
}
