@model IEnumerable<E_Reviu_LKBUN.Models.RiskCategory>

@foreach (var item in Model)
{
    if (ViewBag.type == "rcm")
    {
        <li>
            <a href="@Url.Action("Index", "RisksList", new { id = item.ID })">
                @Html.DisplayFor(modelItem => item.category)
            </a>
        </li>
    }
    else if (ViewBag.type == "results")
    {
        <li>
            <a href="@Url.Action("Details", "Risks", new { id = item.abbreviation })">
                @Html.DisplayFor(modelItem => item.category)
            </a>
        </li>
    }
}

